---
layout: page
title : Archive
header : Post Archive
group: navigation
position: 2
---
{% include JB/setup %}

{% assign posts_collate = site.posts %}
{% if site.JB.posts_collate.provider == "custom" %}
  {% include custom/posts_collate %}
{% else %}
  {% for post in posts_collate  %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
  {% capture next_year %}{{ post.next.date | date: "%Y" }}{% endcapture %}
  {% capture previous_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
  {% capture next_month %}{{ post.next.date | date: "%B" }}{% endcapture %}
  {% capture previous_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

  {% if next_year == empty %}
  <div class="card-panel amber accent-4 z-depth-1 archive">
      <h4>{{this_year}}</h4>
      <h5>{{this_month}}</h5>
      <ul>
  {% elsif next_year != nil and this_year != next_year %}
      </ul>
  </div>
  <div class="card-panel amber accent-4 z-depth-1 archive">
      <h4>{{this_year}}</h4>
      <h5>{{this_month}}</h5>
      <ul>
  {% endif %}

  <li><span>{{ post.date | date: "%B %e, %Y" }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>

  {% if previous_month != nil and this_month != previous_month and this_year == previous_year %}
    </ul>
    <h5>{{ previous_month }}</h5>
    <ul>
  {% endif %}

  {% if forloop.last %}
    </ul>
    </div>
  {% endif %}
  
  {% endfor %}
{% endif %}
{% assign posts_collate = nil %}
