<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{ page.title }}</title>

    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}

    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>

    {% if BASE_PATH %}
    <base href="{{ BASE_PATH }}">
    {% else %}
    <base href="/">
    {% endif %}

    <!-- materiallize styles -->
    <link href="{{ ASSET_PATH }}/css/materialize.min.css" rel="stylesheet">
    <!-- fontawesome styles -->
    <link href="{{ ASSET_PATH }}/css/font-awesome.min.css" rel="stylesheet">
    <!-- tooltipster styles -->
    <link href="{{ ASSET_PATH }}/css/tooltipster.css" rel="stylesheet">
    <!-- prism styles -->
    <link href="{{ ASSET_PATH }}/css/prism.css" rel="stylesheet">
    
    <!-- Custom styles -->
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{{ ASSET_PATH }}/js/html5shiv.js"></script>
      <script src="{{ ASSET_PATH }}/js/respond.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{{ BASE_PATH }}/assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="{{ BASE_PATH }}/assets/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ BASE_PATH }}/assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ BASE_PATH }}/assets/images/apple-touch-icon-114x114.png">

  </head>

  <body>

      <nav class="light-blue lighten-1" role="navigation">
          <div class="nav-wrapper container">
              <a id="logo-container" href="{{ HOME_PATH }}" class="brand-logo">{{ site.title }}</a>
              <ul class="right hide-on-med-and-down">
                  {% assign pages_list = site.pages | sort: 'position' %}
                  {% assign group = 'navigation' %}
                  {% include JB/pages_list %}
              </ul>

              <ul id="nav-mobile" class="side-nav">
                  {% assign pages_list = site.pages | sort: 'position' %}
                  {% assign group = 'navigation' %}
                  {% include JB/pages_list %}
              </ul>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
          </div>
      </nav>

      <div class="container">
          {{ content }}
      </div>
      <hr>

      <div id="footer">
          <div class="container">
              <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
                with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
                and <a href="http://leftstick.github.com/jekyll-materiallize/" target="_blank">jekyll-materiallize</a>
              </p>
          </div>
      </div>

      {% include JB/analytics %}

      <!-- Placed at the end of the document so the pages load faster -->
      <script src="{{ ASSET_PATH }}/js/jquery-2.1.3.min.js"></script>
      <script src="{{ ASSET_PATH }}/js/materialize.min.js"></script>
      <script src="{{ ASSET_PATH }}/js/jquery.tooltipster.min.js"></script>
      <script src="{{ ASSET_PATH }}/js/prism.js"></script>
      <script src="{{ ASSET_PATH }}/js/prism.clojure.js"></script>
      <script src="{{ ASSET_PATH }}/js/init.js"></script>
  </body>
</html>
