<div class="row">
    <div class="col s12 m9">
        <h2>{% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h2>
        <p>Published on {{ page.date | date: "%F" }}</p>
        {{ content }}

        <div>
            <ul class="btn-group">
                {% if page.previous %}
                <li>
                    <a href="{{ BASE_PATH }}{{ page.previous.url }}" class="btn waves-effect waves-light blue darken-3" style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
                        &larr; Previous
                    </a>
                </li>
                {% else %}
                <li>
                <a class="btn disabled" style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
                    &larr; Previous
                </a>
                </li>
                {% endif %}
                <li>
                    <a href="{{ BASE_PATH }}{{ site.JB.archive_path }}" class="btn waves-effect waves-light blue darken-3" style="border-radius: 0;">Archive</a>
                </li>
                {% if page.next %}
                <li>
                    <a href="{{ BASE_PATH }}{{ page.next.url }}" class="btn waves-effect waves-light blue darken-3" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
                        Next &rarr;
                    </a>
                </li>
                {% else %}
                <li>
                    <a class="btn disabled" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
                        Next &rarr;
                    </a>
                </li>
                {% endif %}
            </ul>
            <div class="clear"></div>
        </div>
        
        <br/>
        <hr>

        {% include JB/comments %}
    </div>
    <div class="col s12 m3">
        <br/>
        <br/>
        <br/>
        <div class="card-panel grey lighten-5 z-depth-2">
            <div class="row valign-wrapper">
                <div class="col s12">
                    <i class="fa fa-server fa-lg grey-text text-darken-4"></i>&nbsp;&nbsp;<strong class="grey-text text-darken-4">Categories</strong>
                    <hr>
                    {% unless page.categories == empty %}
                      {% for category in page.categories %}
                      <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category }}-ref" class="waves-effect waves-light btn tag deep-orange">
                          {{ category | join: "/" }}&nbsp;{{ site.categories[category].size }}
                      </a>
                      {% endfor %}
                    {% endunless %}
                </div>
            </div>
        </div>

        <div class="card-panel grey lighten-5 z-depth-2">
            <div class="row valign-wrapper">
                <div class="col s12">
                    <i class="fa fa-flag fa-lg grey-text text-darken-4"></i>&nbsp;&nbsp;<strong class="grey-text text-darken-4">Tags</strong>
                    <hr>
                    {% unless page.tags == empty %}
                      {% for tag in page.tags %}
                      <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref" class="waves-effect waves-light btn tag deep-orange">
                          {{ tag | join: "/" }}&nbsp;{{ site.tags[tag].size }}
                      </a>
                      {% endfor %}
                    {% endunless %}
                </div>
            </div>
        </div>
    </div>
</div>